/*About Media queries */

.square{
    margin: ;
    background-color: black;
    width: 300px;
    height: 300px;
    border: 25px solid blue;
    print-color-adjust: exact; /*it enables the printing background color property for the webpage*/
    -webkit-print-color-adjust:exact; /*to support background-color for printing webpage  ,while using chrome*/
}

/* @media (orientation:portrait) and (width > 400px){ 
    h1{
        font-size: 5rem;
    }
    .square{
        border: 25px solid red;
        background-color: aqua;
    }
} */

/* @media screen and (min-width: 500px){ 

    .square{
        border: 25px solid red;
        background-color: aqua;
    }
} */


/*
@media (500px <= width <= 700px){ 
    h1{
       
    }
    .square{
        border: 25px solid red;
        background-color: aqua;
    }
} */

/* @media ( max-width: 700px){ 
    .square{
        border: 25px solid red;
        background-color: aqua;
    }
} */

/* @media ( min-width: 700px){ 
    .square{
        border: 25px solid red;
        background-color: aqua;
    }
} */

/* @media ( min-height: 700px){ 
    .square{
        border: 25px solid red;
        background-color: aqua;
    }
} */

/* @media ( max-height: 700px){ 
    .square{
        border: 25px solid red;
        background-color: aqua;
    }
} */