/* Z-index concept */
body{
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
    margin: 1rem;
    padding:1rem;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    margin-bottom: -100px;
    
}
.red-box{
    background-color: red;
    z-index: 0;
    position: relative;
}
.green-box{
    background-color: green;
    margin-left:2rem; 
    position: relative;
    z-index: 1;
    
}
.blue-box{
    background-color: blue;
    margin-left:3rem;
}